mixin menu(url, name)
  li.nav__element #[a(href=`${url}`) #{name}]


<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Numerical Analysis Calculator
  each css in files.CSS
    link(rel="stylesheet" href=`${css}`)

body
  //- Intro
  section#intro.intro
    div.m-center
      div.introWrapper
        div.intro-title
          h1.intro__h1 Numerical Analysis Calculator
        div.intro-info
          h3.intro__h3 Author: Carlos Alberto Garcia de Alba Chavez M10 ISC
        div.calc-wrapper
          div.calc-display
            div.calc-leftside
              div.calc__switch
                h4.calc__grad Grad
                input(type="checkbox" id="unchecked").cbx.hidden
                label(for="unchecked").lbl
                h4.calc__rad Rad
            div.calc-rightside
              input(type="text").calc__operation
              input(type="text").calc__numeric
          div.calc-buttons
            div.calc-numericbuttonwrapper
              input(type="button" value="1").calc__numbtn
              input(type="button" value="2").calc__numbtn
              input(type="button" value="3").calc__numbtn
              input(type="button" value="4").calc__numbtn
              input(type="button" value="5").calc__numbtn
              input(type="button" value="6").calc__numbtn
              input(type="button" value="7").calc__numbtn
              input(type="button" value="8").calc__numbtn
              input(type="button" value="9").calc__numbtn
              input(type="button" value=".").calc__numbtn
              input(type="button" value="0").calc__numbtn
              input(type="button" value="00").calc__numbtn
            div.calc-operationbuttonwrapper
              input(type="button" value="+").calc__operbtn
              input(type="button" value="-").calc__operbtn
              input(type="button" value="x").calc__operbtn
              input(type="button" value="/").calc__operbtn
              input(type="button" value="sin(x)").calc__operbtn
              input(type="button" value="cos(x)").calc__operbtn
              input(type="button" value="tan(x)").calc__operbtn
              input(type="button" value="e^x").calc__operbtn
              input(type="button" value="x^2").calc__operbtn
              input(type="button" value="=").calc__operbtn

  each js in files.JS
    script(src=`${js}`)
