mixin menu(url, name)
  li.nav__element #[a(href=`${url}`) #{name}]


<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Numerical Analysis Calculator
  each css in files.CSS
    link(rel="stylesheet" href=`${css}`)

body
  //- Intro
  section#intro.intro
    div.m-center
      div.introWrapper
        div.intro-title
          h1.intro__h1 Numerical Analysis Calculator
        div.intro-info
          h3.intro__h3 Author: Carlos Alberto Garcia de Alba Chavez M10 ISC
        div.calc-wrapper
          div.calc-display
            div.calc-leftside
              div.calc__switch
                h4.calc__grad Grad
                input(type="checkbox" id="unchecked").cbx.hidden
                label(for="unchecked").lbl
                h4.calc__rad Rad
            div.calc-rightside
              input(type="text" id="operation" maxlength="12").calc__operation
              input(type="text" id="entrypoint" maxlength="12").calc__numeric
          div.calc-buttons
            div.calc-numericbuttonwrapper
              input(type="button" value="1" id="one").calc__numbtn
              input(type="button" value="2" id="two").calc__numbtn
              input(type="button" value="3" id="three").calc__numbtn
              input(type="button" value="4" id="four").calc__numbtn
              input(type="button" value="5" id="five").calc__numbtn
              input(type="button" value="6" id="six").calc__numbtn
              input(type="button" value="7" id="seven").calc__numbtn
              input(type="button" value="8" id="eight").calc__numbtn
              input(type="button" value="9" id="nine").calc__numbtn
              input(type="button" value="." id="point").calc__numbtn
              input(type="button" value="0" id="zero").calc__numbtn
              input(type="button" value="00" id="d_zero").calc__numbtn
            div.calc-operationbuttonwrapper
              input(type="button" value="+" id="plus").calc__operbtn
              input(type="button" value="-" id="minus").calc__operbtn
              input(type="button" value="x" id="times").calc__operbtn
              input(type="button" value="/" id="divide").calc__operbtn
              input(type="button" value="sin" id="sine").calc__operbtn
              input(type="button" value="cos" id="cosine").calc__operbtn
              input(type="button" value="tan" id="tangent").calc__operbtn
              input(type="button" value="e^x" id="exponential").calc__operbtn
              input(type="button" value="sqrt" id="root").calc__operbtn
              input(type="button" value="=" id="equals").calc__operbtn
              input(type="button" value="C" id="c").calc__operbtn

  each js in files.JS
    script(src=`${js}`)
