//intro

.intro {
  display          : flex;
  justify-content  : center;
  margin-top: 2em;

  .m-center {
    height: 1000px;
  }
  .introWrapper {
    text-align: center;
    height: 900px;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .calc-wrapper {
      margin-top: 2.5em;
      height: 600px;
      background-color: white;
      width: 100%;
      .calc-display {
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        .calc-leftside {
          align-self: flex-start;
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .calc-rightside {
          align-self: flex-end;
          width: 60%;
          height: 100%;
        }
        .calc__operation {
          color: $blackText;
          border: none;
          width: 100%;
          height: 50%;
          margin:0;
          padding:0;
          font-size: $h2;
          text-align: right;
          align-self: flex-end;
          padding-right: 0.5em;
        }
        .calc__switch {
          width: 100%;
          display: flex;
          justify-content: center;
          color: $blackText;
          align-content: center;
          .lbl {
            top: 10px;
          }
          .calc__grad {
            padding-right:1em;
            color: $secondaryText;
          }
          .calc__rad {
            padding-left: 1em;
            color: $secondaryText;
          }
        }
        .calc__numeric {
          color: $blackText;
          border: none;
          width: 100%;
          height: 50%;
          margin:0;
          padding:0;
          font-size: $h2;
          text-align: right;
          align-self: flex-end;
          padding-right: 0.5em;
        }
        .calc-rightside {
          display:flex;
          flex-direction: column;
        }
      }
      .calc-buttons {
        width: 100%;
        height: 84%;
        display: flex;

        .calc-numericbuttonwrapper {
          width: 50%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          background-color: $accentColor;
          .calc__numbtn {
            color: $whiteBG;
            height: 120px;
            width: 120px;
            border: none;
            background-color: $accentColor;
            font-size: $h2;
            text-align: center;
          }
        }
        .calc-operationbuttonwrapper {
          width: 50%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          background-color: $primaryColor;
          .calc__operbtn {
            color: $whiteBG;
            height: 120px;
            width: 120px;
            border: none;
            background-color: $primaryColor;
            font-size: $h2;
            text-align: center;
          }
        }
      }
    }
  }


}
